.logo_main {
    position: relative;
    width: 200px;
    height: 200px;
    transition: transform .2s ease;
    cursor: pointer;
}
  
/* [3] Finally, transforming the image when container gets hovered */
.logo_main:hover {
    transform: scale(1.05);
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.2));
}





.slide-fade-enter-active {
    transition: all 0.5s ease-out;
}
  
.slide-fade-leave-active {
    transition: all 0s cubic-bezier(1, 0.5, 0.5, 1);

}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(-10px);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.8s ease;
 
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;

}